
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, on my wonderful Spring Boot page!</h1>
        <p class="lead">This is the home page of my application! For now its hosted locally</p>
        <hr class="my-4">
        <p>Using this example, im learning how to use Spring Boot</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/sandra-gadomska-b78019187" role="button">Look at my LinkedIn</a>
        </p>
    </div>
</div>
</body>
</html>